* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  user-select: none;
  outline: none;
  appearance: none;
}

body {
  /* background-color: rgb(59, 59, 59, 30%); */
  background-color: #202020;
}
